* {
  outline: none !important;
}

// fonts
@import 'modules/fonts';

// bootstrap
@import "bootstrap";
@import 'modules/extend';

body {
  font-family: $font-family-Poppins;
  @include scrollerY(#ddd, #333, 0.3, 8);
}

a, a:hover {
  text-decoration: none;
}

a img,
:link img {
  border: 0;
}

address {
  font-style: normal;
}

fieldset {
  border: 0;
}

// we don't want the yellow background of webkit
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
}

hr.hr {
  color: $dark;
  height: 3px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.header{
  height: 110px;
}
.navbar {
  &-brand {
    width: 184px;
    margin-bottom: 10px;
  }
  &-collapse {
    form{
      width:308px;
      height: 47px;
      position: relative;
      button{
        position: absolute;
        right: 0;
        top:2px;
      }
    }
    button{
      padding: 10px 21px 12px 22px;
      border-radius: 25px;
    }
    .caret-off::before {
      display: none;
    }
    .caret-off::after {
      display: none;
    }
    .dropdown-menu{
     width: 941px !important;
      height: 305px !important;
      right:0px;
      top:76px;
    }

  }

  &-nav {
    .nav {
      &-item {
        margin-right: 34px;
      }
      &-link {
        color: $darkBlue;
        font-weight: 600;
        font-size: 18px;
      }
    }

  }
}

.landing {
  background-color: #81C99A;
  padding: 140px 0;
  position: relative;
  &-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;
    height: 100%;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  &-card {
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    max-width: 887px;
    padding: 55px 73px 78px;

    .design-img {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 11px;
    }
  }
  &-content {
    padding-bottom: 18px;
  }
  &-title {
    font-size: 80px;
  }
  &-disc {
    font-size: 20px;
    margin-top: 34px;
  }
  &-button {
    border: 2px solid darkblue;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 20px;
  }
}

.card {
  .feature & {
    &-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.form {
  &-search {
    co: Rasdfsdfed;
  }
  &-control {
    .form-search & {
      border-radius: 40px;
      border-color: #2A285F;
      color: #2A285F;
    }
  }
}

.feature {
  background-color: #F5FBFF;
  padding: 110px 0px;
  & .rounded-bottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  & .card {
    &-body {
      padding: 40px 26px 35px 27px;
    }
    &-title {
      font-size: 30px;
    }
    &-text {
      font-size: 18px;
    }
    &-link {
      font-size: 18px;
    }
  }
}

.asset {
  .container {
    padding: 100px 51px;
  }
  &-container {
    position: relative;
  }
  &-image {
    padding-bottom: 135px;
  }
  &-card {
    max-width: 740px;
    padding: 48px 157px 46px 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    .asset {
      &-title {
        margin-bottom: 20px;
      }
      &-text {
        margin-bottom:36px;
        font-size: 18px;
      }
      &-link {
        border: 2px solid white;
        font-size: 20px;
        padding: 8px 20px;
        border-radius: 20px;
      }
    }
  }
}

.service-card {
  background-color: #F5FBFF;
  padding: 100px 0px;
  .card {
    background-color: transparent;
    border: none;
    &-body {
      padding: 0;
      a {
        font-size: 18px;
      }
    }
    &-title {
      padding-top: 27px;
    }
    &-text {
      font-size: 16px;
    }
  }
}

.perceptive {
    padding: 86px 0px 91px 0px;
  &-title {
    max-width: 697px;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 18px;
  }
  .table {
    vertical-align: baseline;
    border-collapse: separate;
    border-spacing: 0 21px;
    &-wrapper{
          max-width: 1134px;
      }
    &-primary{
    th:first-child{
     border-radius: 20px 0px 0px 20px;
      padding-left: 50px;
    }
      td:last-child{
        border-radius: 0px 20px 20px 0px;
        padding-right: 50px;
        text-align: right;
      }
      .btn {
        border-radius: 14px;
        padding: 7px 25px;
        border-width: 0px;
      }
    }
  }
}

.profile{
  padding: 100px 0px;
  background-color: #F5FBFF;
  .card{
    &-container{
      h3{
        margin-bottom: 84px;
      }
        .pagination{
          img{
            max-width: 113px;
            margin:0 auto;
            margin-top: 47px;
          }
        }
    }
    &-body{
      padding:0px;
    }
    &-desc{
      padding: 53px 34px 38px 33px;
      background-color: rgba(129, 201, 154, 0.4)
    }
  }
    .user{
      padding:39px 34px 34px 33px;
      &-image {
      margin-right: 27px;
      }
    }
}

.bunchBox{
  padding: 122px 200px;
    .bunch{
      &-img{
      }
      &-desc{
        h3{
          padding-bottom: 52px;
          padding-top:78.5px;
        }
        table{
          tbody:last-child{
            margin-top: 100px;
          }
          td:last-child{
            text-align: right;
          }
          td{
            border:none;
          }
        }
      }
      &-deal {
        margin-top: 30px;
        button{
          padding: 9px 31px;
          border-radius: 15px;
        }
      }
    }
}

footer{
  position: relative;
.backContain{
  position: absolute;
  right:0;
  top:0;
}
.footer{
  &-left{
    padding: 132.3px 0px 137.8px 0px;
    h6{
      padding-top: 65.2px;
    }
    p{
      max-width: 448px;
      margin-top: 35px;
      margin-bottom: 31px;
    }
      form{
        input{
          width: 481px;
          height: 60px;
          padding: 0 10px;
          border-radius: 15px;
        }
        button{
          border:none;
          top:9px;
          padding-left:22px;
          right:0;
        }
        button:hover{
          background-color: transparent;
        }
      }
  }
  &-right{
    span{
      margin-bottom: 32px;
    }
    .social-heading{
      margin-bottom: 18px;
    }
    .social{
      padding-bottom: 73px;
      img{
        margin-left: 10px;
      }
      }
    .ourPartners{
      div{
        margin-left: 32px;
      }
      margin-bottom: 27px;
    }
    h3{
      margin-bottom: 106px;
    }
    .link{
      a{
        margin-left: 70px;
      }
    }
  }
}
}

@media print {
  .container {
    width: auto;
  }
}

// X-Large devices (large desktops, less than 1680px)
@include media-breakpoint-down(xxl) {

}

// Large devices (desktops, less than 1440px)
@include media-breakpoint-down(xl) {

}

// Medium devices (tablets, less than 1200px)
@include media-breakpoint-down(lg) {

}


// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(md) {

}

// X-Small devices (portrait phones, less than 576px)
@include media-breakpoint-down(sm) {
}


