



// Default maps overrides



$grid-breakpoints-custom: (
        lg: 1200px,
        xl: 1440px,
        xxl: 1680px
);

$container-max-widths-custom: (
        lg: 1180px,
        xl: 1420px,
        xxl: 1646px
);

$spacers-custom: (
        64: 64px,
        40: 40px,
        116:116px,
        70:70px
);

$display-font-sizes-custom: (
        14:14px,
        15:15px,
        18:18px,
        20:20px,
        16:16px,
        35:35px
);

$aspect-ratios-custom: (
        "480x347": calc(347 / 480 * 100%),
        "159x115":calc(115 / 159 * 100%)
);

$custom-colors:(
    "darkBlue": $darkBlue
);



// Merge the maps
$grid-breakpoints: map-merge($grid-breakpoints, $grid-breakpoints-custom);
$container-max-widths: map-merge($container-max-widths, $container-max-widths-custom);
$theme-colors: map-merge($theme-colors, $custom-colors);
$spacers: map-merge($spacers, $spacers-custom);
$display-font-sizes:map_merge($display-font-sizes,$display-font-sizes-custom);
$aspect-ratios:map_merge($aspect-ratios,$aspect-ratios-custom);



// Remove from map
//$theme-colors: map-remove($theme-colors, "info", "light", "dark");


// Bootstrap and its default maps
@import "~bootstrap/scss/maps";


