



// Default variable overrides


$body-bg: #fff;
$body-color: #444;
$enable-smooth-scroll:false;

$modal-lg: 900px;
$primary: #1C75BB;
$success: #81C99A;
$darkBlue: #2A285F;
$warning:#EDA107;




// new variable
$font-family-myriadpro: 'myriadpro',arial;
$font-family-Poppins:'Poppins', sans-serif;
$font-weight-medium:       500;

// navbar vars

$navbar-padding-y: rem(17);
$display-line-height: body-line-height;



$h1-font-size:      rem(40);
$h2-font-size:      rem(34);
$h3-font-size:      rem(30);
$h4-font-size:      rem(24);
$h5-font-size:      rem(20);
$h6-font-size:      rem(18);


//$gradient: linear-gradient(100deg, rgba($black, var(--bs-bg-opacity)), rgba($white, 0));

$enable-negative-margins: true;

//card-radius

  // Bootstrap and its default variables
@import "~bootstrap/scss/variables";






